.container{
    display: flex;
    gap: 1.5rem;
    margin: 20px 0px;

}

.fancyNumber{
    background: var(--pink);
    border-radius: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 1px 0;
    font-weight: 500;
    margin-right: 5px;
}

.timestamp{
    color: #777;
    font-size: 14px;
    padding: 5px;
    letter-spacing: 0.5px;
}

.chapters{
    display: block;
    border-right: 1px solid;
    border-right-color: var(--light-grey);
    border-radius: 25px;
    flex-basis: 20%;
    text-align: left;
    box-shadow: 3px 10px 10px 1px hwb(0deg 0% 100% / 10%);
    text-align: left;
    background: #fff;
    padding: 10px;
}

.chaptersList{
    margin-top: 25px;
    display: block;
}

.chaptersList > div{
    margin-bottom: 15px;
    display: block;
    justify-content: start;
    align-items: center;
}

.title{
    text-align: left;
}

.transcript{
    display: block;
    flex-basis: 50%;
    background: #fff;
    padding: 20px 14px;
    border-radius: 16px;

}

.transcriptContent{
    background: var(--white);
    padding: 14px 0px;
}

.transcriptContentHeading{
    display: inline;
    padding: 5px;
    font-size: 18px;
}

.transcriptContent>p{
    margin: 8px 0px;
    text-align: justify;
    margin-bottom: 20px;
    border-left: 2px solid #c6c6c6;
    padding-left: 7px;
}

.video{
    display: block;
    border-right: 1px solid;
    border-right-color: var(--light-grey);
    flex-basis: 25%;
    /* padding: 0 10px; */
}