.nav{
    display: flex;
    flex-direction: row;
    padding: 15px 30px;
    justify-content: start;
    align-items: center;
    /* border-bottom: 1px solid var(--pink);
    background: var(--white); */
}

.navItem{
    margin-right: 40px;
}

.title{
    color: var(--pink);
}