.fancyNumber{
    background: var(--pink);
    border-radius: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 1px 0;
    font-weight: 500;
    margin-right: 5px;
}

.timestamp{
    color: #777;
    font-size: 14px;
    padding: 5px;
    letter-spacing: 0.5px;
}

.title{
    font-size: 14px;
}